:root {
  --orange-color: rgb(255, 96, 54);
  --pink-color: rgb(253, 38, 122);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(0deg, var(--orange-color), var(--pink-color))
    no-repeat;
}
